<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.iecas.datasets.image.dao.ImageDatasetMapper">
    <select id="getImageDataSetById" resultType="cn.iecas.datasets.image.pojo.domain.ImageDataSetInfoDO">
        select * from image_infos
        where id = #{id}
    </select>
    <update id="updateNumber" parameterType="cn.iecas.datasets.image.pojo.domain.ImageDataSetInfoDO">
        update image_infos
        set number = #{number}
        where id = #{id}
    </update>
    
    <select id="listImageDataSetInfos" resultType="cn.iecas.datasets.image.pojo.domain.ImageDataSetInfoDO" parameterType="cn.iecas.datasets.image.pojo.dto.ImageDataSetInfoRequestDTO">
        SELECT * FROM image_infos
        <where>
            <if test="imageDatasetInfoRequestDTO.id!=0">
                and id = #{imageDatasetInfoRequestDTO.id}
            </if>
            <if test="imageDatasetInfoRequestDTO.name!=null">
                and name = #{imageDatasetInfoRequestDTO.name}
            </if>
            <if test="imageDatasetInfoRequestDTO.attribute!=null">
                and attribute = #{imageDatasetInfoRequestDTO.attribute}
            </if>
            <if test="imageDatasetInfoRequestDTO.beginTime!=null">
                <if test="imageDatasetInfoRequestDTO.endTime!=null">
                    and datatime BETWEEN #{imageDatasetInfoRequestDTO.beginTime} AND #{imageDatasetInfoRequestDTO.endTime}
                </if>
            </if>
        </where>
    </select>

    <select id="getStatistic" resultType="cn.iecas.datasets.image.pojo.entity.Statistic">
        select id, targetNum from image_infos
    </select>

    <insert id="insertDataset" parameterType="cn.iecas.datasets.image.pojo.domain.ImageDataSetInfoDO">
        INSERT INTO image_infos(path,description,attribute,datasource,bit,band,datasize,definition,size,number,postfix,labelsize,labeldescription,labelpostfix,direction,construction,datatime,name,category)
        values (#{path},#{description},#{attribute},#{datasource},#{bit},#{band},#{datasize},#{definition},#{size},#{number},#{postfix},#{labelsize},#{labeldescription},#{labelpostfix},#{direction},#{construction},#{datatime},#{name},#{category})
    </insert>


<!--    <select id="findAllById" resultType="cn.iecas.sampleservice.entity.image.Image">-->
<!--        SELECT * FROM image_infos WHERE id = #{id}-->
<!--    </select>-->

<!--    <delete id="deleteSpecific" parameterType="cn.iecas.sampleservice.entity.image.Image">-->
<!--        DELETE FROM image_infos-->
<!--        <where>-->
<!--            <if test="id!=null">-->
<!--                AND id = #{id}-->
<!--            </if>-->
<!--            <if test="name!=null">-->
<!--                and name = #{name}-->
<!--            </if>-->
<!--            <if test="attribute!=null">-->
<!--                and attribute = #{attribute}-->
<!--            </if>-->
<!--        </where>-->
<!--    </delete>-->
<!--    <select id="findAllN" resultType="cn.iecas.sampleservice.entity.image.Image">-->
<!--        SELECT * FROM image_infos-->
<!--    </select>-->
<!--    <insert id="addImageInfos" parameterType="cn.iecas.sampleservice.entity.image.Image">-->
<!--        INSERT INTO image_infos(path,description,attribute,datasource,bit,band,datasize,definition,size,number,postfix,labelsize,labeldescription,labelpostfix,direction,construction,datatime,name,category)-->
<!--        values (#{path},#{description},#{attribute},#{datasource},#{bit},#{band},#{datasize},#{definition},#{size},#{number},#{postfix},#{labelsize},#{labeldescription},#{labelpostfix},#{direction},#{construction},#{datatime},#{name},#{category})-->
<!--    </insert>-->

<!--    <select id="findByImage" parameterType="cn.iecas.sampleservice.entity.image.Image" resultType="cn.iecas.sampleservice.entity.image.Image">-->
<!--        SELECT * FROM image_infos-->
<!--        <where>-->
<!--            <if test="id!=null">-->
<!--                and id = #{id}-->
<!--            </if>-->
<!--            <if test="name!=null">-->
<!--                and name = #{name}-->
<!--            </if>-->
<!--            <if test="attribute!=null">-->
<!--                and attribute = #{attribute}-->
<!--            </if>-->
<!--        </where>-->
<!--    </select>-->

    <update id="updateImageDataset">
        update image_infos
        <if test="field=='number'">
            set image_infos.number = image_infos.number + #{value}
        </if>
        <if test="field=='datasize'">
            set image_infos.datasize = image_infos.datasize + #{value}
        </if>
        <if test="field=='targetnum'">
            set image_infos.targetnum = image_infos.targetnum + #{value}
        </if>
        where id = #{imagesetid}
    </update>
</mapper>