<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iecas.datasets.image.dao.TileInfosMapper">
    <select id="getAllTileById" parameterType="int" resultType="cn.iecas.datasets.image.pojo.domain.TileInfosDO">
        select * from tile_infos
        where imagesetid=#{imagesetid}
    </select>

    <select id="getImageDataSetId" parameterType="int" resultType="int">
        select imagesetid
        from tile_infos
        where id = #{tileId}
    </select>

    <select id="getNameByPath" parameterType="String" resultType="String">
        select dataPath from tile_infos
        where visualPath = #{visualPath}
    </select>

    <select id="getTileByName" parameterType="int" resultType="cn.iecas.datasets.image.pojo.domain.TileInfosDO">
        select * from tile_infos
        where id = #{fileId}
    </select>

    <select id="getStoragePath" parameterType="int" resultType="String">
        select visualPath from tile_infos
        where id = #{id}
    </select>
    <select id="getVisualPath" parameterType="int" resultType="String">
        select visualPath from tile_infos
        where id = #{tileId}
    </select>

    <select id="getAll" parameterType="int" resultType="String">
        select visualPath from tile_infos
        where imagesetid = #{imageDatasetId}
    </select>

    <delete id="deleteByImagesetid" parameterType="Integer">
        delete from tile_infos
        where imagesetid=#{imagesetid}
    </delete>
    <insert id="insertTilesInfo" parameterType="cn.iecas.datasets.image.pojo.domain.TileInfosDO">
        insert into tile_infos(taskid,dataPath,labelPath,visualPath,resolution,sensor,band,imagesetid,targetNum,createTime,storagePath)
        values
        (#{taskid},#{dataPath},#{labelPath},#{visualPath},#{resolution},#{sensor},#{band},#{imagesetid},#{targetNum},#{createTime},#{storagePath})
    </insert>

    <select id="getStatistic" resultType="cn.iecas.datasets.image.pojo.entity.TileInfoStatistic" >
       SELECT DATE_FORMAT(createTime,#{timeStep}) as step,  COUNT(*) as count FROM tile_infos where createTime BETWEEN #{beginTime} AND #{endTime} GROUP BY step order by step
   </select>



    <select id="getStatisticByDataSets" resultType="cn.iecas.datasets.image.pojo.entity.TileInfoStatistic">
        SELECT DATE_FORMAT(createTime,#{timeStep}) as step, count(*) as count , imagesetid as imageSetId FROM tile_infos
        <where>
            <if test="imageSetIdList!=null">
                imagesetid in
                <foreach collection="imageSetIdList" item="imageSetId" separator="," open="(" close=")">
                    #{imageSetId}
                </foreach>
            </if>
            and createTime BETWEEN #{beginTime} AND #{endTime}
        </where>
        group by imageSetId,step order by imageSetId ,step
    </select>

</mapper>